@use "../../../node_modules/@picocss/pico";

:root {
  --color-ivory: "#F8F7F6";
  --color-teal: "#1A3948";
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.delete {
  color: tomato;
  text-decoration-color: tomato;
}